<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Candidate_Account_UIs"
        tools:targetApi="31">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SuccessMessageActivity" />
        <activity android:name=".TrendingJobsActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--facebook-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    <!--Azmarah-->

        <activity
            android:name=".company.CompanyEditProfileActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".company.ComCandidateResumeDownloadActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".company.CompanyChangePwActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".company.CompanyDeleteAccountActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".company.CompanyDetailForm"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".company.CompanyInterviewActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".company.CompanyProfile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".company.CompanyProfileSettings"
            android:exported="true">
        </activity>

        <activity
            android:name=".company.CompanySuccessfulMessageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".company.CompInterviewSendSuccessActivity"
            android:exported="true">
        </activity>

    </application>


</manifest>