<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Candidate_Account_UIs"
        tools:targetApi="31">

        <activity
            android:name=".candidateActivities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".candidateActivities.ResetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".candidateActivities.SignInActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".candidateActivities.SignUpActivity" />
        <activity android:name=".candidateActivities.SuccessMessageActivity" />
        <activity android:name=".candidateActivities.TrendingJobsActivity" android:exported="true"/>
        <activity android:name=".candidateActivities.MainActivity" />
        <activity android:name=".candidateActivities.TJobListComponentActivity" />
        <activity android:name=".candidateActivities.SelecetedJobDescriptionActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsNameUpdateActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsStatusUpdateActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsEmailUpdateActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsPasswordUpdateActivity" />
        <activity android:name=".candidateActivities.ProfileSettingsDeleteActivity" />
        <activity android:name=".Algorithm.Calculator" android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Azmarah -->
        <activity
            android:name=".company.CompanyEditProfileActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.ComLogin"
            android:exported="true"></activity>
        <activity
            android:name=".company.ComCandidateResumeDownloadActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompanyChangePwActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompanyDeleteAccountActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompanyDetailForm"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".company.CompanyInterviewActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompanyProfile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".company.CompanyProfileSettings"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompanySuccessfulMessageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".company.CompInterviewSendSuccessActivity"
            android:exported="true"></activity>

        <!-- sarindu -->
        <activity
            android:name=".candidate.MainActivity_sarindu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


     <!--udeshani-->

    <activity
        android:name=".companyjobs.MainActivity_udeshani"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".companyjobs.VacancyAdd"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".companyjobs.VacancyFetching"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".companyjobs.VacancyDetailsActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>
</manifest>